body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}


.drum-pad{
  background-color: rgb(94, 144, 156);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px rgb(66, 63, 63) double;
}

.drum-pad:hover {
  opacity: 0.6;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: rgb(46, 42, 42);
  font-weight: 900;
  display: block;
  font-size: 2em;
}

.display {
  background-color: rgb(58, 63, 58);
  border: 4px rgb(66, 63, 63) solid;
  font-size: 2.2em;
  color: aliceblue;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.drum {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

h1 {
  margin-bottom: 80px;
  font-size: 2.4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}